<div class="checkout">
  <div class="sidebar">
    <ul>
      <li class="active">
        <a (click)="activate($event)" routerLink="/checkout">Order Summary</a>
      </li>
      <li>
        <a
          (click)="activate($event)"
          *ngIf="cs.orderconfirm"
          routerLink="/checkout/details"
          >Place Order</a
        >
        <a *ngIf="!cs.orderconfirm" class="a-disabled">Place Order</a>
      </li>
      <li>
        <a
          (click)="activate($event)"
          *ngIf="cs.payment"
          routerLink="/checkout/confirm"
          >Confirm Details</a
        >
        <a *ngIf="!cs.payment" class="a-disabled">Confirm Details</a>
      </li>
      <!-- <li><a routerLink="/checkout/payment">Payment</a></li> -->
    </ul>
  </div>
  <div class="mainb">
    <router-outlet></router-outlet>
  </div>
</div>
