<nav aria-label="Page navigation example" *ngIf="noOfpages > 1">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ admin.currentp === 1 ? 'disabled' : '' }}">
      <a
        class="page-link click-effect"
        (click)="openPage(admin.currentp - 1)"
        tabindex="-1"
        aria-disabled="true"
        >Previous</a
      >
    </li>

    <li class="page-item  {{ admin.currentp === 1 ? 'active' : '' }}">
      <span (click)="openPage(1)" class="click-effect">
        <a class="page-link">1</a>
      </span>
    </li>
    <li class="page-item disabled">
      <span *ngIf="admin.currentp >= 3">
        <a class="page-link">...</a>
      </span>
    </li>
    <li class="page-item" *ngIf="admin.currentp - 1 > 1">
      <span (click)="openPage(admin.currentp - 1)" class="click-effect">
        <a class="page-link">{{ admin.currentp - 1 }}</a>
      </span>
    </li>
    <li
      class="page-item active"
      *ngIf="admin.currentp > 1 && admin.currentp !== noOfpages"
    >
      <span (click)="openPage(admin.currentp)" class="click-effect">
        <a class="page-link">{{ admin.currentp }}</a>
      </span>
    </li>
    <li class="page-item" *ngIf="admin.currentp + 1 < noOfpages">
      <span (click)="openPage(admin.currentp + 1)" class="click-effect">
        <a class="page-link">{{ admin.currentp + 1 }}</a>
      </span>
    </li>
    <li class="page-item disabled" *ngIf="admin.currentp < noOfpages - 2">
      <span>
        <a class="page-link">...</a>
      </span>
    </li>
    <li
      *ngIf="noOfpages > 1"
      class="page-item {{ admin.currentp === noOfpages ? 'active' : '' }}"
    >
      <span class="click-effect" (click)="openPage(noOfpages)">
        <a class="page-link">{{ noOfpages }}</a>
      </span>
    </li>
    <li class="page-item {{ admin.currentp === noOfpages ? 'disabled' : '' }}">
      <a class="page-link click-effect" (click)="openPage(+admin.currentp + 1)"
        >Next</a
      >
    </li>
  </ul>
</nav>
