<div class="card" appCakeHighlight routerLink="/cakes/{{ cake.cakeid }}">
  <div *ngIf="cake.eggless !== undefined">
    <span *ngIf="!cake.eggless"><img src="assets/nonVeg.png" alt="" /></span>
    <span *ngIf="cake.eggless"><img src="assets/veg.png" alt="" /></span>
  </div>
  <img [src]="cake.image" class="card-img-top" alt="..." />

  <div class="card-body">
    <h5 class="card-title">{{ cake.name }}</h5>
    <p class="card-text">{{ cake.price | currency: "INR" }}</p>
    <p class="card-text" *ngIf="cake.weight">{{ cake.weight }} Kg</p>
  </div>
</div>
