<div class="login-section">
  <h1>Add Cake Details</h1>

  <form (submit)="addcake()">
    <div class="form-group">
      <label for="image">Product Image :</label>
      <div class="preview-img">
        <img [src]="cake.image" alt="" />
      </div>
      <div class="flex">
        <input
          type="file"
          name="image"
          (change)="imgPreview($event)"
          class="form-control"
          id="image"
        />

        <button type="button" (click)="upload($event)" class="btn btn-primary">
          Upload
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Cake Name :</label>
      <input
        name="name"
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your full name"
        autocomplete="disabled"
        [(ngModel)]="cake.name"
      />
    </div>
    <div class="form-group flex owner-details">
      <div>
        <label for="price">Price :</label>
        ₹<input
          type="text"
          name="price"
          class="form-control"
          [(ngModel)]="cake.price"
          placeholder="Enter your cake price"
          id="price"
        />
      </div>
      <div>
        <label for="weight">Weight:</label>
        <input
          type="text"
          name="weight"
          class="form-control"
          [(ngModel)]="cake.weight"
          placeholder="Enter your cake weight"
          id="weight"
        />
        Kg
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description :</label>
      <input
        name="description"
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="cake.description"
        placeholder="Enter your address"
        autocomplete="disabled"
      />
    </div>
    <div class="form-group flex">
      <div class="flex type">
        <label for="type">Type :</label>
        <select class="form-select" name="type" [(ngModel)]="cake.type">
          <option value="">Select Cake type</option>
          <option value="General">General</option>
          <option value="Special">Special</option>
          <option value="Birthday">Birthday</option>
          <option value="Wedding">Wedding</option>
        </select>
      </div>
      <div class="flex">
        <label for="eggless">Eggless :</label>
        <input
          type="checkbox"
          name="eggless"
          [(ngModel)]="cake.eggless"
          id="eggless"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="flavour">Flavour :</label>

      <input
        type="text"
        name="flavour"
        class="form-control"
        [(ngModel)]="cake.flavour"
        placeholder="Enter your cake flavour"
        id="flavour"
      />
    </div>
    <div class="form-group">
      <label for="ingredients">Ingredients :</label>
      <div class="flex ingredient">
        <div *ngFor="let ingredien of ingredients; index as i">
          <input
            type="text"
            name="{{ ingredien + i }}"
            class="form-control"
            [(ngModel)]="ingrediant[i]"
            placeholder="Enter your ingredient"
            [id]="'ingredien' + i"
          />
          <button type="button" class="btn" (click)="deleteIng(i)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <button type="button" class="btn" (click)="addIng($event)">
          <i class="fas fa-plus-square fa-2x"></i>
        </button>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="owner">Owner Details :</label>
      <div class="form-group flex owner-details" id="owner">
        <div>
          <label for="oemail">Email :</label>
          <input
            type="text"
            name="oemail"
            class="form-control"
            [(ngModel)]="cake.owner.email"
            placeholder="Enter your cake flavour"
            id="oemail"
          />
        </div>
        <div>
          <label for="oname">Name :</label>
          <input
            type="text"
            name="oname"
            class="form-control"
            [(ngModel)]="cake.owner.name"
            placeholder="Enter your cake flavour"
            id="oname"
          />
        </div>
      </div>
    </div> -->

    <!-- <div id="passwordHelpBlock" class="form-text">
        <a routerLink="/forgetPassword"> forget Password?</a>
      </div> -->

    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div>
