<!-- <table mat-table [dataSource]="admin.cakeSearch">
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef>name</th>
    <td mat-cell *matCellDef="let cake">{{ cake.name }}</td>
  </ng-container>
</table> -->
<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field> -->

<div class="admin flex">
  <header class="admin-header flex">
    <h1>Cakes</h1>

    <div class="cart-right">
      <button class="btn btn-primary click-effect" routerLink="/admin/addcake">
        <i class="far fa-plus-square fs-2x"></i> Add Cake
      </button>
    </div>
  </header>
  <app-search [cakeArr]="admin.cakeSearch" [adminUser]="true"></app-search>

  <main class="admin-main flex">
    <div class="admin-products flex">
      <ul class="admin-products-list flex" *ngIf="loading">
        <p *ngIf="loading !== 'upldating'">
          <img
            class="loading"
            src="https://i.stack.imgur.com/hzk6C.gif"
            alt=""
          />
          Cakes...
        </p>
      </ul>
      <ul
        class="admin-products-list flex"
        *ngIf="!loading && admin.cakeSearch.length === 0"
      >
        <p class="notfound" *ngIf="loading !== 'upldating'">
          <img class="loading" src="assets/notFound.png" alt="" />
          No Cake found !!! For your Search Query.
        </p>
      </ul>
      <ul
        class="admin-products-list flex"
        *ngIf="!loading && admin.cakeSearch.length > 0"
      >
        <!-- <app-adminsearch [cakearr]="cs.cakeList"></app-adminsearch> -->
        <li class="products-header">
          <p>Products</p>
          <p (click)="filter()" class="price-filter">Price <i class="fas fa-sort"></i></p>
          <p>Action</p>
        </li>
        <li class="products" *ngFor="let item of admin.cakeSearch">
          <p class="item-title">
            <img [src]="item.image" class="item-img" alt="" />
            <span
              ><p>{{ item.name }}</p>
            </span>
          </p>
          <p>{{ item.price | currency: "INR" }}</p>
          <p>
            <button class="btn" routerLink="/admin/editcake/{{ item.cakeid }}">
              <i class="fas fa-edit"></i>
            </button>
          </p>
        </li>
        <li class="products-header"></li>
      </ul>
    </div>
  </main>
  <!-- <app-pagination
    *ngIf="!loading && admin.cakeSearch.length > 0"
    [cakesArr]="admin.cakeList"
    [adminUser]="true"
  ></app-pagination> -->
</div>

<!-- <div class="edit">
  <app-editform></app-editform>
</div> -->
