<div class="admin flex">
  <header class="admin-header flex">
    <h1>Cakes</h1>
    <!-- add cake button -->
    <div class="cart-right">
      <button class="btn btn-primary click-effect" routerLink="/admin/addcake">
        <i class="far fa-plus-square fs-2x"></i> Add Cake
      </button>
    </div>
  </header>
  <div>
    <form
      action="#"
      class="form-group flex admin-search"
      (submit)="search()"
      *ngIf="!admin.loading"
    >
      <input
        type="search"
        name="search"
        class="form-control"
        [(ngModel)]="searchquery"
        placeholder="search.."
      />
      <button type="button" class="btn"><i class="fas fa-search"></i></button>
    </form>
  </div>

  <main class="admin-main flex">
    <div class="admin-products flex">
      <!-- cake data loading message -->
      <ul class="admin-products-list flex" *ngIf="admin.loading">
        <p *ngIf="admin.loading !== 'upldating'">
          <img
            class="loading"
            src="https://i.stack.imgur.com/hzk6C.gif"
            alt=""
          />
          Cakes...
        </p>
      </ul>
      <!-- no cake found message -->
      <ul
        class="admin-products-list flex"
        *ngIf="!admin.loading && admin.cakeSearch.length === 0"
      >
        <p class="notfound" *ngIf="admin.loading !== 'upldating'">
          <img class="loading" src="assets/notFound.png" alt="" />
          No Cake found !!! For your Search Query.
        </p>
      </ul>
      <!-- cake list  -->
      <ul
        class="admin-products-list flex"
        *ngIf="!admin.loading && admin.cakeSearch.length > 0"
      >
        <li class="products-header">
          <p>Products</p>

          <p (click)="sortcake()" class="price-filter">
            Price <i class="fas fa-sort"></i>
          </p>
          <p>Action</p>
        </li>
        <li class="products" *ngFor="let item of admin.cakeSearch">
          <p class="item-title">
            <img [src]="item.image" class="item-img" alt="" />
            <span
              ><p>{{ item.name }}</p>
            </span>
          </p>
          <p>{{ item.price | currency: "INR" }}</p>
          <p>
            <button class="btn" routerLink="/admin/editcake/{{ item.cakeid }}">
              <i class="fas fa-edit"></i>
            </button>
          </p>
        </li>
        <li class="products-header"></li>
      </ul>
    </div>
  </main>
  <app-pagination-admin
    *ngIf="!admin.loading && admin.cakeSearch.length > 0"
    [cakesArr]="admin.cakeList"
  ></app-pagination-admin>
</div>
